# Игнорируем виртуальные окружения
.venv/
env/
venv/

# Игнорируем файлы кэша Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорируем системные файлы
.DS_Store
Thumbs.db

# Игнорируем файлы конфигурации IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Игнорируем файлы логов
*.log

# Игнорируем временные файлы
*.tmp
*.temp

# Игнорируем файлы, связанные с тестами
tests/

# Файлы SQLite
*.db
data/
